[submodule "contrib/ActionBarSherlock"]
	path = contrib/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "contrib/MultiChoiceAdapter"]
	path = contrib/MultiChoiceAdapter
	url = https://github.com/ManuelPeinado/MultiChoiceAdapter.git
