<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectsexception.myapplist">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppListTheme"
        android:name=".MyAppListApplication">
        <activity
            android:name=".MainActivity"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.xml" />
            </intent-filter>
        </activity>
        <activity android:name=".MyAppListPreferenceActivity" />
        <activity android:name=".ListIgnoredActivity" />
        <activity android:name=".ShareActivity"
                  android:uiOptions="splitActionBarWhenNarrow" />
        <activity android:name=".ListInstallActivity" />
        <activity android:name=".FolderPickerActivity" />

        <service android:name=".work.SaveListService" />

        <receiver
            android:name=".util.BackupReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
